<div class="row">
  <div class="d-flex">
    <div class="p-2 ml-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Membership
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Membership</button>
          <button class="dropdown-item">Fees</button>
        </div>
      </div>
    </div>
    <div class="p-2 ml-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Paramedics
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Membership</button>
          <button class="dropdown-item">Fees</button>
        </div>
      </div>
    </div>
    <div class="p-2 ml-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Community
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Membership</button>
          <button class="dropdown-item">Fees</button>
        </div>
      </div>
    </div>
  </div>
</div>