<!-- <div class="mt-4" class="border border-primary mt-4 px-4 rounded container-fluid"> -->
<div class="mt-4">
    <router-outlet></router-outlet>
    <!-- <app-case-admin></app-case-admin> -->
    <!-- <app-vasqi-no-tabs-view></app-vasqi-no-tabs-view> -->
    <div name="hiddenNav" id="hiddenNav" style="display:none;">
            <a routerLink="/home" routerLinkActive="active">home</a>
            <br>
            <a routerLink="/caseadmin" routerLinkActive="active">caseadmin</a>
    </div>
</div>