    <div class="mt-4">

    
        <div class="row jumbotron">
            <div class="col-3">
                <span class="float-right">Case Number:</span>
            </div>
            <div class="col-2 text-primary">
                <span>P-1011</span>
            </div>
            <div class="col-3">
                <span class="float-right">Patient Name:</span>
            </div>
            <div class="col-3 text-primary">
                <span>John Cena</span>
            </div>
        </div>
    
        <div class="row">
            <div class="col-10">
                    <p class="font-weight-bold text-center">
                        Please click on the below mentioned links to navigate to their respective pages.
                    </p>
            </div>
            <div class="table-responsive col-10">
    
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col-2">#</th>
                            <th scope="col-3">Section</th>
                            <th scope="col-2">#</th>
                            <th scope="col-3">Section</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                                <!-- table-primary -->
                            <th scope="row" class="">1</th> 
                            <td class="">
                                <a style="cursor: pointer;">
                                    Case Administrative Details
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th scope="row" class="table-secondary">8</th>
                            <td class="table-secondary">
                                <a style="cursor: pointer;">
                                        Patient Destination
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="">2</th>
                            <td class="">
                                <a style="cursor: pointer;">
                                        Patient Details
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th scope="row" class="table-secondary">9</th>
                            <td class="table-secondary">
                                <a style="cursor: pointer;">
                                        Hospital Information
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="">3</th>
                            <td class="">
                                <a style="cursor: pointer;">
                                        Responding Crews
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th scope="row" class="table-secondary">10</th>
                            <td class="table-secondary">
                                <a style="cursor: pointer;">
                                        Search Information
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="">4</th>
                            <td class="">
                                <a style="cursor: pointer;">
                                        Assessment
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th scope="row" class="table-secondary">11</th>
                            <td class="table-secondary">
                                <a style="cursor: pointer;">
                                        Pt Follow-Up
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="">5</th>
                            <td class="">
                                <a style="cursor: pointer;">
                                        Vital Sign Survey
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th scope="row" class="table-secondary">12</th>
                            <td class="table-secondary">
                                <a style="cursor: pointer;">
                                        Case Audit
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="">6</th>
                            <td class="">
                                <a style="cursor: pointer;">
                                        Patient Management
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th scope="row" class="table-secondary">13</th>
                            <td class="table-secondary">
                                <a style="cursor: pointer;">
                                        Patient Safety Review
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="">7</th>
                            <td class="">
                                <a style="cursor: pointer;">
                                        Timeframes
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th scope="row" class="table-secondary">14</th>
                            <td class="table-secondary">
                                <a style="cursor: pointer;">
                                        Quality Control
                                    <i class="fa fa-external-link pl-2" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>