<div class="mt-4">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Case Administrative Details</ng-template>
      <ng-template ngbTabContent>
        <app-case-admin></app-case-admin>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Patient Details</ng-template>
      <ng-template ngbTabContent>
        <app-patient></app-patient>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Responding Crews</ng-template>
      <ng-template ngbTabContent>
        <app-responding-crews></app-responding-crews>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>