/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/variables';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import 'assets/scss/buttons';

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: $margin-bottom-footer; // 60px; /* Margin bottom by footer height */
  }